<link rel="stylesheet" href="/css/brainWebGL.css">

<div id="this">
    <h3>Brain Model</h3>
    <p>The following graphics were created using the
        <a href="https://threejs.org">three.js</a> open source library.</p>
    <p>Three.js is a cross-browser JavaScript library and application programming interface (API) used to create and display animated 3D computer graphics in a web browser using WebGL. </p>
    <p>The brain model was downloaded at
    <a href="https://sketchfab.com/3d-models/brain-6ca0844a846b400695ff54553dc9bda4">sketchfab</a>
    and created by Farhad Buli who has made it publicly available.</p>
</div>
<canvas id="bg"></canvas>

<script src="/brainWebGL.bundle.js"></script>
